{% extends "layout.html" %}
{% block content %}
	<h1>Listes des entretiens</h1>
	<table class="table">
		<thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">idetatroute</th>
		  <th scope="col">prix</th>
		  <th scope="col">duree</th>
		</tr>
		</thead>
		<tbody>
		{% for entretien in entretiens %}
		<tr>
		  <td>{{entretien.id}}</td>
		  <td>{{entretien.idetat}}</td>
		  <td>{{entretien.prix}}</td>
		  <td>{{entretien.duree}}</td>
		  {% if current_user.is_authenticated %}
		  <!-- url_for('trajet.update_trajet', portion_id=route.idportionroute) -->
		  <td><a class="btn btn-outline-success" href="{{url_for('entretien.update_entretien', entretien_id=entretien.id)}}">Modifier</a></td>
		  {% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content %}