{% extends "layout.html" %}
{% block content %}
<form method="GET" action="">
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.key.label(class="form-control-label") }}
            {% if form.key.errors %}
                {{ form.key(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.key.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.key(class="form-control form-control-lg") }}
            {% endif %}
        {{ form.submit(class="btn btn-outline-info") }}

        </div>
    </fieldset>
        

</form>




	<h1>Listes des routes</h1>
		<a href="{{url_for('route.exporter')}}" class="btn btn-outline-success">Exporter</a>
	<table class="table">
		<thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Numero</th>
		  <th scope="col"><a href="{{url_for('route.etat_global', d='1')}}">Depart</a></th>
		  <th scope="col"><a href="{{url_for('route.etat_global', a='1')}}">Arrivee</a></th>
		  <th scope="col">Bonne</th>
		</tr>
		</thead>
		<tbody>
		{% for etatglobal in etatglobals.items %}
		<tr>
		  <td>{{etatglobal.id}}</td>
		  <td><a href="{{url_for('route.voir_details', num=etatglobal.numero)}}">{{etatglobal.numero}}</a></td>
		  <td>{{etatglobal.depart}}</td>
		  <td>{{etatglobal.arrivee}}</td>
		  <td>{{etatglobal.bonne|round(2)}}%</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% for page_num in etatglobals.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if etatglobals.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('route.etat_global', page=page_num, key=request.args.get('key')) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('route.etat_global', page=page_num, key=request.args.get('key')) }}">{{ page_num }}</a>

			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
{% endblock content %}