{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Ajouter Route</legend>
				<div class="form-group">
					{{ form.numero.label(class="form-control-label") }}

                    {% if form.numero.errors %}
                        {{ form.numero(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.numero.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.numero(class="form-control form-control-lg") }}
                    {% endif %}

				</div>
				<div class="form-group">
					{{ form.depart.label(class="form-control-label") }}
					{% if form.depart.errors %}
                        {{ form.depart(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.depart.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.depart(class="form-control form-control-lg") }}
                    {% endif %}
				</div>
                <div class="form-group">
                    {{ form.arrivee.label(class="form-control-label") }}
                    {% if form.arrivee.errors %}
                        {{ form.arrivee(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.arrivee.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.arrivee(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.distance.label(class="form-control-label") }}
                    {% if form.distance.errors %}
                        {{ form.distance(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.distance.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.distance(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
			</fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
		</form>
	</div>
    
{% endblock content %}