{% extends "layout.html" %}
{% block content %}
	<h1>Calcul Heure</h1>

	<p><b>Nom:</b> {{user.nom}}</p>
	<p><b>Prenom:</b> {{user.prenom}}</p>
	<p><b>Matricule:</b> {{user.matricule}}</p>
	<p><b>Categorie:</b> {{user.cat.nom}}</p>

	<table class="table">
		<thead>
		<tr>
		  <th scope="col">Designation</th>
		  <th scope="col">Total</th>
		</tr>
		</thead>
		<tbody>
		{% for key, value in results.items() %}
		<tr>
		  <th>{{key}}</th>
		  <td>{{value}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content %}