{% extends "layout.html" %}
{% block content %}
    <h1>Listes des pointages</h1>
    <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Iduser</th>
          <th scope="col">Matricule</th>
        </tr>
        </thead>
        <tbody>
        {% for pointage in points.items %}
        <tr>
          <td>{{pointage.id}}</td>
          <td>{{pointage.iduser}}</td>
          <td>{{pointage.employe.matricule}}</td>
          
          <td><a class="btn btn-outline-info" href="{{url_for('pointage.calcul_heure', user_id=pointage.iduser, pointage_id=pointage.id)}}">Voir details</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for page_num in points.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if points.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('pointage.list_pointage', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('pointage.list_pointage', page=page_num) }}">{{ page_num }}</a>

            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}